<?xml version="1.0"?>
<config>
    <modules>
        <Segmentify_Engine>
            <version>0.1.0</version>
        </Segmentify_Engine>
    </modules>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Segmentify_Engine before="Mage_Customer">Segmentify_Engine</Segmentify_Engine>
                    </modules>
                </args>
            </catalog>
            <customer>
                <args>
                    <modules>
                        <Segmentify_Engine before="-">Segmentify_Engine</Segmentify_Engine>
                    </modules>
                </args>
            </customer>
        </routers>

        <layout>
            <updates>
                <Segmentify_Engine>
                    <file>segmentify.xml</file>
                </Segmentify_Engine>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <segmentify_engine>
                <class>Segmentify_Engine_Model</class>
                <resourceModel>segmentify_engine_mysql4</resourceModel>
            </segmentify_engine>
            <segmentify_engine_mysql4>
                <class>Segmentify_Engine_Model_Mysql4</class>
                <entities>
                    <campaign>
                        <table>segmentify_engine_campaign</table>
                    </campaign>
                    <connect>
                        <table>segmentify_engine_connect</table>
                    </connect>
                </entities>
            </segmentify_engine_mysql4>
        </models>
        <blocks>
            <segmentify_engine>
                <class>Segmentify_Engine_Block</class>
            </segmentify_engine>
        </blocks>
        <helpers>
            <segmentify_engine>
                <class>Segmentify_Engine_Helper</class>
            </segmentify_engine>
        </helpers>
        <resources>
            <segmentify_engine_setup>
                <setup>
                    <module>Segmentify_Engine</module>
                </setup>
            </segmentify_engine_setup>
        </resources>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <segmentify_engine>
                        <class>Segmentify_Engine_Model_Observer</class>
                        <method>checkout</method>
                    </segmentify_engine>
                </observers>
            </checkout_submit_all_after>
            <customer_register_success>
                <observers>
                    <segmentify_engine>
                        <class>Segmentify_Engine_Model_Observer</class>
                        <method>registerUser</method>
                    </segmentify_engine>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <segmentify_engine>
                        <class>Segmentify_Engine_Model_Observer</class>
                        <method>signin</method>
                    </segmentify_engine>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <segmentify_engine>
                        <class>Segmentify_Engine_Model_Observer</class>
                        <method>signout</method>
                    </segmentify_engine>
                </observers>
            </customer_logout>
            <controller_front_init_before>
                <observers>
                    <segmentify_engine>
                        <class>Segmentify_Engine_Model_Observer</class>
                        <method>addBaseCode</method>
                    </segmentify_engine>
                </observers>
            </controller_front_init_before>
            <controller_front_send_response_after>
                <observers>
                    <segmentify_engine>
                        <class>Segmentify_Engine_Model_Observer</class>
                        <method>view</method>
                    </segmentify_engine>
                </observers>
            </controller_front_send_response_after>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <segmentify_engine>
                        <class>Segmentify_Engine_Model_Observer</class>
                        <method>addToCart</method>
                    </segmentify_engine>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <sales_quote_remove_item>
                <observers>
                    <segmentify_engine>
                        <class>Segmentify_Engine_Model_Observer</class>
                        <method>removeFromCart</method>
                    </segmentify_engine>
                </observers>
            </sales_quote_remove_item>

            <segmentify_customer_account_edit>
                <observers>
                    <segmentify_engine>
                        <class>Segmentify_Engine_Model_Observer</class>
                        <method>userUpdate</method>
                    </segmentify_engine>
                </observers>
            </segmentify_customer_account_edit>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <segmentify>
                                            <title>Segmentify</title>
                                        </segmentify>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <segmentify_engine>
                <use>admin</use>
                <args>
                    <frontName>sengine</frontName>
                    <module>Segmentify_Engine</module>
                </args>
            </segmentify_engine>
            <adminhtml>
                <args>
                    <modules>
                        <segmentify_engine before="Mage_Adminhtml">Segmentify_Engine_Adminhtml</segmentify_engine>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>